<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="pvs.app.controller.GithubApiController" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.service.ProjectService" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.service.GithubApiService" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.service.RepositoryService" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.service.GithubCommitService" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.dto.GithubCommitDTO" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.service.thread.GithubIssueLoaderThread" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.service.SonarApiService" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.controller.SonarApiController" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.filter.JwtTokenFilter" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.config.SecurityConfig" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.service.AuthService" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.service.impl.UserDetailsServiceImpl" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.controller.MemberController" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="pvs.app.controller.AuthController" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="pvs.app.controller.ProjectController" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>